body{
    min-height: 100vh;
    display: flex;
    background-color:whitesmoke;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}
.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: mintcream;
    border-radius: 25px 25px;
    width: 600px;
}
.score-card{
    background-color:hsl(252, 100%, 67%) ;
    height:450px;
    width:400px;
    border-radius: 25px 25px;
    color:white;
    justify-content: center;
    align-items:center;
    padding: 10px;
}
.results{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
}
.circle{
    background-color:hsla(256, 72%, 46%, 1);
    border-radius: 50%;
    font-size: 18px;
    line-height: 0.9px;
    padding:30px;
    height: 100px;
    width: 100px;
    margin: 45px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
.summary-card{
    background-color: hsl(0, 0%, 100%);
    border-radius:25px 25px;
    height: 450px;
    width:400px;
    padding:10px;
    line-height: 0.5px;
}
.Reaction-card{
    background-color: hsla(0, 100%, 67%, 0.1);
    color:hsl(0, 100%, 67%) ;
    border-radius: 15px;
    height: 40px;
    margin: 15px;
    padding: 5px;
}
.Memory-card {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
    border-radius: 15px;
    height: 40px;
    margin: 15px;
    padding: 5px;
}
.Verbal-card {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
    border-radius: 15px;
    height: 40px;
    margin: 15px;
    padding: 5px;
}
.visual-card {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
    border-radius: 15px;
    height: 40px;
    margin: 15px;
    padding: 5px;
}
svg{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.button{
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding:5px;
    font-size: 15px;
    margin: 15px;
}
.sum{
    color: black;
    font-size: large;
    float: right;
    padding-right: 10px;
}
span{
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;

}























.attribution {
        font-size: 11px;
        text-align: center;
        
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
